

body { 
background-color: #8699a7; 
}

h1 { 
	text-align: center; 
	font-family: 'Lato', sans-serif; 
	padding-top: 20px; 
	padding-bottom: 20px;
	color: #FFF;
}

h2{
	text-align: center; 
	font-family: 'Lato', sans-serif; 
	padding-top: 20px; 
	padding-bottom: 20px;
	color: #FFF;
}

h3{
	text-align: center; 
	font-family: 'Lato:bold', sans-serif; 
	padding-top: 20px; 
	padding-bottom: 20px;
	color: #FFF;
}

p{
	text-align: center; 
	font-family: 'Lato', sans-serif; 
	padding-top: 20px; 
	padding-bottom: 20px;
	color: #FFF;
}
.shortCopy{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.youtube {  
	display: block;
	margin-left: auto;
	margin-right: auto;
}
  
.storeIcon {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px; 
	padding-bottom: 20px;
}

/* column container */
.twoColumn {
	clear:both;
	float:left;
	width:100%;			/* width of whole page */
	overflow:hidden;		/* This chops off any overhanging divs */
}
/* common column settings */
.colleft {
	float:left;
	width:100%;
	position:relative;
	right:50%;			/* right column width */
}
.colA,
.colB{
	float:left;
	position:relative;
	padding:0 0 1em 0;
	overflow:hidden;
}
.colA{
	width:46%;			/* left column content width (column width minus left and right padding) */
	left:52%;			/* right column width plus left column left padding */
}
.colB{
	width:46%;			/* right column content width (column width minus left and right padding) */
	left:56%;			/* (right column width) plus (left column left and right padding) plus (right column left padding) */
}
