

body { background-color: #8699a7; }

h1 { text-align: center; font-family: 'Lato', sans-serif; margin-top:10px; margin-bottom:10px;}

.youtube {  
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
  
  .storeIcon {
	display: block;
	margin-left: auto;
	margin-right: auto;
  }